body {
  background-color: #ECECEB;
}
hr{
  border-top-style: dotted;
border-right-style: none;
border-bottom-style: none;
border-left-style: none;
border-width: 7px;
  width: 5%;
  border-color: #CCCCCC
}
h1{
  color: #000000;
}
h3 {
  color: #000000;
}
img{
  border-radius: 75%;
}
